openapi: 3.0.3
info:
  version: 0.1.1
  title: Datagrid API
  description: Datagrid API
servers:
  - url: https://api.datagrid.com/v1
security:
  - BearerAuth: []
paths:
  /agents:
    get:
      summary: List agents
      operationId: ListAgents
      description: List all agents for the authenticated organization
      tags:
        - Agents
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/after'
        - $ref: '#/components/parameters/before'
      responses:
        '200':
          description: List of agents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentListResponse'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            // Automatically fetches more pages as needed.
            for await (const agent of client.agents.list()) {
              console.log(agent.id);
            }
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            page = client.agents.list()
            page = page.data[0]
            print(page.id)
    post:
      summary: Create agent
      operationId: CreateAgent
      description: Create a new agent
      tags:
        - Agents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentRequest'
      responses:
        '201':
          description: Created agent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            const agent = await client.agents.create();

            console.log(agent.id);
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            agent = client.agents.create()
            print(agent.id)
  /agents/{agent_id}:
    get:
      summary: Retrieve agent
      operationId: RetrieveAgent
      description: Get details of a specific agent
      tags:
        - Agents
      parameters:
        - name: agent_id
          in: path
          required: true
          description: The ID of the agent to retrieve
          schema:
            type: string
      responses:
        '200':
          description: Agent details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '404':
          description: Agent not found
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            const agent = await client.agents.retrieve('agent_id');

            console.log(agent.id);
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            agent = client.agents.retrieve(
                "agent_id",
            )
            print(agent.id)
    patch:
      summary: Update agent
      operationId: UpdateAgent
      description: Update an agent configuration
      tags:
        - Agents
      parameters:
        - name: agent_id
          in: path
          required: true
          description: The ID of the agent to update
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAgentRequest'
      responses:
        '200':
          description: Updated agent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '404':
          description: Agent not found
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            const agent = await client.agents.update('agent_id');

            console.log(agent.id);
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            agent = client.agents.update(
                agent_id="agent_id",
            )
            print(agent.id)
    delete:
      summary: Delete agent
      operationId: DeleteAgent
      description: Delete an agent
      tags:
        - Agents
      parameters:
        - name: agent_id
          in: path
          required: true
          description: The ID of the agent to delete
          schema:
            type: string
      responses:
        '204':
          description: Agent deleted successfully
        '404':
          description: Agent not found
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            await client.agents.delete('agent_id');
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            client.agents.delete(
                "agent_id",
            )
  /connections:
    post:
      summary: Create connection
      operationId: Connection.createConnection
      description: >-
        Creates a new connection to authenticate with a third-party service (like Google Drive, Hubspot,
        Dropbox, etc.) and returns a redirect URL for the connection authentication flow.
      tags:
        - Connections
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - connector_id
              properties:
                connector_id:
                  type: string
                  description: The connector ID for the third-party service to connect to.
      responses:
        '200':
          description: Connection creation initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedirectURLResponse'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            const redirectURLResponse = await client.connections.create({ connector_id: 'connector_id' });

            console.log(redirectURLResponse.redirect_url);
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            redirect_url_response = client.connections.create(
                connector_id="connector_id",
            )
            print(redirect_url_response.redirect_url)
    get:
      summary: List connections
      operationId: Connection.listConnections
      description: Returns the list of authenticated connections to third-party services.
      tags:
        - Connections
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/after'
        - $ref: '#/components/parameters/before'
        - name: connector_id
          in: query
          required: false
          schema:
            type: string
          description: Filter connections by connector ID.
      responses:
        '200':
          description: List of connections
          content:
            application/json:
              schema:
                type: object
                required:
                  - object
                  - data
                properties:
                  object:
                    type: string
                    enum:
                      - list
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Connection'
                    description: An array containing the actual response elements, paginated by any request parameters.
                  has_more:
                    type: boolean
                    description: >-
                      Whether or not there are more elements available after this set. If false, this set
                      comprises the end of the list.
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            // Automatically fetches more pages as needed.
            for await (const connection of client.connections.list()) {
              console.log(connection.id);
            }
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            page = client.connections.list()
            page = page.data[0]
            print(page.id)
  /connections/{connection_id}:
    get:
      summary: Retrieve connection
      operationId: Connection.retrieveConnection
      description: Retrieves details about an authenticated connection by id.
      tags:
        - Connections
      parameters:
        - name: connection_id
          in: path
          required: true
          schema:
            type: string
          description: The id of the connection to retrieve.
      responses:
        '200':
          description: Retrieved connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            const connection = await client.connections.retrieve('connection_id');

            console.log(connection.id);
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            connection = client.connections.retrieve(
                "connection_id",
            )
            print(connection.id)
    patch:
      summary: Update connection
      operationId: Connection.updateConnection
      description: Update a connection's attributes.
      tags:
        - Connections
      parameters:
        - name: connection_id
          in: path
          required: true
          schema:
            type: string
          description: The id of the connection to update.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  description: The name of the connection.
      responses:
        '200':
          description: Successfully updated connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            const connection = await client.connections.update('connection_id', { name: 'name' });

            console.log(connection.id);
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            connection = client.connections.update(
                connection_id="connection_id",
                name="name",
            )
            print(connection.id)
    delete:
      summary: Delete connection
      operationId: Connection.deleteConnection
      description: Delete an authenticated connection to a third-party service.
      tags:
        - Connections
      parameters:
        - name: connection_id
          in: path
          required: true
          schema:
            type: string
          description: The id of the connection to delete.
      responses:
        '200':
          description: Successfully deleted connection
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            await client.connections.delete('connection_id');
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            client.connections.delete(
                "connection_id",
            )
  /connectors:
    get:
      summary: List connectors
      operationId: Connectors.listConnectors
      description: Returns the list of available connectors that can be used to connect to third-party services.
      tags:
        - Connectors
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/after'
        - $ref: '#/components/parameters/before'
      responses:
        '200':
          description: List of connectors
          content:
            application/json:
              schema:
                type: object
                required:
                  - object
                  - data
                properties:
                  object:
                    type: string
                    enum:
                      - list
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Connector'
                    description: An array containing the actual response elements, paginated by any request parameters.
                  has_more:
                    type: boolean
                    description: >-
                      Whether or not there are more elements available after this set. If false, this set
                      comprises the end of the list.
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            // Automatically fetches more pages as needed.
            for await (const connector of client.connectors.list()) {
              console.log(connector.id);
            }
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            page = client.connectors.list()
            page = page.data[0]
            print(page.id)
  /conversations:
    get:
      summary: List conversations
      operationId: Conversations.listConversations
      description: Returns the list of conversations.
      tags:
        - Conversations
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/after'
        - $ref: '#/components/parameters/before'
      responses:
        '200':
          description: List of conversations
          content:
            application/json:
              schema:
                type: object
                required:
                  - object
                  - data
                properties:
                  object:
                    type: string
                    enum:
                      - list
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Conversation'
                    description: An array containing the actual response elements, paginated by any request parameters.
                  has_more:
                    type: boolean
                    description: >-
                      Whether or not there are more elements available after this set. If false, this set
                      comprises the end of the list.
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            // Automatically fetches more pages as needed.
            for await (const conversation of client.conversations.list()) {
              console.log(conversation.id);
            }
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            page = client.conversations.list()
            page = page.data[0]
            print(page.id)
    post:
      summary: Create conversation
      operationId: Conversations.createConversation
      description: Creates a new conversation.
      tags:
        - Conversations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConversationRequest'
      responses:
        '200':
          description: Created conversation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            const conversation = await client.conversations.create();

            console.log(conversation.id);
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            conversation = client.conversations.create()
            print(conversation.id)
  /conversations/{conversation_id}:
    get:
      summary: Retrieve conversation
      operationId: Conversations.retrieveConversation
      description: Retrieves a conversation by id.
      tags:
        - Conversations
      parameters:
        - name: conversation_id
          in: path
          required: true
          schema:
            type: string
          description: The id of the conversation to retrieve.
      responses:
        '200':
          description: Retrieved conversation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            const conversation = await client.conversations.retrieve('conversation_id');

            console.log(conversation.id);
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            conversation = client.conversations.retrieve(
                "conversation_id",
            )
            print(conversation.id)
    delete:
      summary: Delete conversation
      operationId: Conversations.deleteConversation
      description: Delete conversation.
      tags:
        - Conversations
      parameters:
        - name: conversation_id
          in: path
          required: true
          schema:
            type: string
          description: The id of the conversation to delete.
      responses:
        '200':
          description: Successfully deleted conversation
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            await client.conversations.delete('conversation_id');
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            client.conversations.delete(
                "conversation_id",
            )
  /conversations/{conversation_id}/messages:
    get:
      summary: List messages
      operationId: Conversations.listMessages
      description: Returns the list of messages in a conversation.
      tags:
        - Conversations
      parameters:
        - name: conversation_id
          in: path
          required: true
          schema:
            type: string
          description: The id of the conversation to list messages for.
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/after'
        - $ref: '#/components/parameters/before'
      responses:
        '200':
          description: List of messages
          content:
            application/json:
              schema:
                type: object
                required:
                  - object
                  - data
                properties:
                  object:
                    type: string
                    enum:
                      - list
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ConversationMessage'
                    description: An array containing the actual response elements, paginated by any request parameters.
                  has_more:
                    type: boolean
                    description: >-
                      Whether or not there are more elements available after this set. If false, this set
                      comprises the end of the list.
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            // Automatically fetches more pages as needed.
            for await (const message of client.conversations.messages.list('conversation_id')) {
              console.log(message.id);
            }
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            page = client.conversations.messages.list(
                conversation_id="conversation_id",
            )
            page = page.data[0]
            print(page.id)
  /conversations/{conversation_id}/messages/{message_id}:
    get:
      summary: Retrieve message
      operationId: Conversations.retrieveMessage
      description: Retrieves a message by id.
      tags:
        - Conversations
      parameters:
        - name: conversation_id
          in: path
          required: true
          schema:
            type: string
        - name: message_id
          in: path
          required: true
          schema:
            type: string
          description: The id of the message to retrieve.
      responses:
        '200':
          description: Retrieved message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationMessage'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            const message = await client.conversations.messages.retrieve('conversation_id', 'message_id');

            console.log(message.id);
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            message = client.conversations.messages.retrieve(
                message_id="message_id",
                conversation_id="conversation_id",
            )
            print(message.id)
  /converse:
    post:
      summary: Converse
      operationId: Converse
      description: Converse with an AI Agent
      tags:
        - Converse
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConverseRequestBody'
      responses:
        '200':
          description: Converse response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConverseResponse'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            const converseResponse = await client.converse({ prompt: 'string' });

            console.log(converseResponse.content);
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            converse_response = client.converse(
                prompt="string",
            )
            print(converse_response.content)
  /organization/credits:
    get:
      summary: Get credits
      description: Summarise the credits in your account for the current billing period.
      operationId: getCredits
      tags:
        - Credits
      responses:
        '200':
          description: Credits Summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditsReport'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            const creditsReport = await client.organization.credits.get();

            console.log(creditsReport.consumed);
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            credits_report = client.organization.credits.get()
            print(credits_report.consumed)
  /files:
    post:
      summary: Create files
      operationId: Files.createFiles
      description: Create files which can be passed as input to agents.
      tags:
        - Files
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  nullable: false
      responses:
        '201':
          description: Successfully created file
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatagridFile'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            const fileObject = await client.files.create({ file: fs.createReadStream('path/to/file') });

            console.log(fileObject.id);
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            file_object = client.files.create(
                file=b"raw file contents",
            )
            print(file_object.id)
    get:
      summary: List files
      operationId: Files.listFiles
      description: Returns the list of files.
      tags:
        - Files
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/after'
        - $ref: '#/components/parameters/before'
      responses:
        '200':
          description: List of files
          content:
            application/json:
              schema:
                type: object
                required:
                  - object
                  - data
                properties:
                  object:
                    type: string
                    enum:
                      - list
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DatagridFile'
                    description: An array containing the actual response elements, paginated by any request parameters.
                  has_more:
                    type: boolean
                    description: >-
                      Whether or not there are more elements available after this set. If false, this set
                      comprises the end of the list.
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            // Automatically fetches more pages as needed.
            for await (const fileObject of client.files.list()) {
              console.log(fileObject.id);
            }
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            page = client.files.list()
            page = page.data[0]
            print(page.id)
  /files/{file_id}:
    get:
      summary: Retrieve file
      operationId: Files.retrieveFile
      description: Retrieves a file by id.
      tags:
        - Files
      parameters:
        - name: file_id
          in: path
          required: true
          schema:
            type: string
          description: The id of the file to retrieve.
      responses:
        '200':
          description: Retrieved file
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatagridFile'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            const fileObject = await client.files.retrieve('file_id');

            console.log(fileObject.id);
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            file_object = client.files.retrieve(
                "file_id",
            )
            print(file_object.id)
    delete:
      summary: Delete file
      operationId: Files.deleteFile
      description: Delete file.
      tags:
        - Files
      parameters:
        - name: file_id
          in: path
          required: true
          schema:
            type: string
          description: The id of the file to delete.
      responses:
        '204':
          description: Successfully deleted file
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            await client.files.delete('file_id');
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            client.files.delete(
                "file_id",
            )
  /files/{file_id}/content:
    get:
      summary: Retrieve file content
      operationId: Files.downloadFile
      description: Returns the content of a file.
      tags:
        - Files
      parameters:
        - name: file_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: File content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            const response = await client.files.content('file_id');

            console.log(response);

            const content = await response.blob();
            console.log(content);
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            response = client.files.content(
                "file_id",
            )
            print(response)
            content = response.read()
            print(content)
  /knowledge/connect:
    post:
      summary: Create knowledge from connection
      operationId: Knowledge.createKnowledgeFromConnection
      description: Create knowledge from connection which will be learned and leveraged by agents.
      tags:
        - Knowledge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - connection_id
              properties:
                connection_id:
                  type: string
                  description: The id of the connection to be used to create the knowledge.
      responses:
        '201':
          description: Successfully created knowledge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedirectURLResponse'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            const redirectURLResponse = await client.knowledge.connect({ connection_id: 'connection_id' });

            console.log(redirectURLResponse.redirect_url);
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            redirect_url_response = client.knowledge.connect(
                connection_id="connection_id",
            )
            print(redirect_url_response.redirect_url)
  /knowledge:
    post:
      summary: Create knowledge
      operationId: Knowledge.createKnowledge
      description: Create knowledge which will be learned and leveraged by agents.
      tags:
        - Knowledge
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - files
              properties:
                name:
                  type: string
                  description: The name of the knowledge.
                  nullable: true
                files:
                  type: array
                  items:
                    type: string
                    format: binary
                  nullable: false
                  description: >-
                    The files to be uploaded and learned. Supported media types are `pdf`, `json`, `csv`,
                    `text`, `png`, `jpeg`, `excel`, `google sheets`, `docx`, `pptx`.
      responses:
        '201':
          description: Successfully created knowledge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Knowledge'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            const knowledge = await client.knowledge.create({ files: [fs.createReadStream('path/to/file')] });

            console.log(knowledge.id);
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            knowledge = client.knowledge.create(
                files=[b"raw file contents"],
            )
            print(knowledge.id)
    get:
      summary: List knowledge
      operationId: Knowledge.listKnowledge
      description: Returns the list of knowledge.
      tags:
        - Knowledge
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/after'
        - $ref: '#/components/parameters/before'
      responses:
        '200':
          description: List of knowledge
          content:
            application/json:
              schema:
                type: object
                required:
                  - object
                  - data
                properties:
                  object:
                    type: string
                    enum:
                      - list
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Knowledge'
                    description: An array containing the actual response elements, paginated by any request parameters.
                  has_more:
                    type: boolean
                    description: >-
                      Whether or not there are more elements available after this set. If false, this set
                      comprises the end of the list.
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            // Automatically fetches more pages as needed.
            for await (const knowledge of client.knowledge.list()) {
              console.log(knowledge.id);
            }
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            page = client.knowledge.list()
            page = page.data[0]
            print(page.id)
  /knowledge/{knowledge_id}:
    get:
      summary: Retrieve knowledge
      operationId: Knowledge.retrieveKnowledge
      description: Retrieves a knowledge by id.
      tags:
        - Knowledge
      parameters:
        - name: knowledge_id
          in: path
          required: true
          schema:
            type: string
          description: The id of the knowledge to retrieve.
      responses:
        '200':
          description: Retrieved knowledge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Knowledge'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            const knowledge = await client.knowledge.retrieve('knowledge_id');

            console.log(knowledge.id);
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            knowledge = client.knowledge.retrieve(
                "knowledge_id",
            )
            print(knowledge.id)
    patch:
      summary: Update knowledge
      operationId: Knowledge.updateKnowledge
      description: Update a knowledge's attributes.
      tags:
        - Knowledge
      parameters:
        - name: knowledge_id
          in: path
          required: true
          schema:
            type: string
          description: The id of the knowledge to update.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The new name for the `knowledge`.
                  nullable: true
                files:
                  type: array
                  items:
                    type: string
                    format: binary
                  nullable: true
                  description: >-
                    The files to replace existing knowledge. When provided, all existing data will be removed
                    from the knowledge and replaced with these files. Supported media types are `pdf`, `json`,
                    `csv`, `text`, `png`, `jpeg`, `excel`, `google sheets`, `docx`, `pptx`.
      responses:
        '200':
          description: Successfully updated knowledge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Knowledge'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            const knowledge = await client.knowledge.update('knowledge_id');

            console.log(knowledge.id);
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            knowledge = client.knowledge.update(
                knowledge_id="knowledge_id",
            )
            print(knowledge.id)
    delete:
      summary: Delete knowledge
      operationId: Knowledge.deleteKnowledge
      description: Delete knowledge.
      tags:
        - Knowledge
      parameters:
        - name: knowledge_id
          in: path
          required: true
          schema:
            type: string
          description: The id of the knowledge to delete.
      responses:
        '204':
          description: Successfully deleted knowledge
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            await client.knowledge.delete('knowledge_id');
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            client.knowledge.delete(
                "knowledge_id",
            )
  /knowledge/{knowledge_id}/reindex:
    post:
      summary: Reindex knowledge
      operationId: reindexKnowledge
      description: Manually trigger a full re-indexing of the knowledge.
      tags:
        - Knowledge
      parameters:
        - name: knowledge_id
          in: path
          required: true
          schema:
            type: string
          description: The id of the knowledge to reindex.
      responses:
        '204':
          description: Successfully triggered reindex
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            await client.knowledge.reindex('knowledge_id');
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            client.knowledge.reindex(
                "knowledge_id",
            )
  /user-memories:
    get:
      summary: List User Memory
      operationId: Memory.listUserMemory
      description: List the memories for a given user and agent that the user has access to
      tags:
        - Memory
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: User memory list
          content:
            application/json:
              schema:
                type: object
                required:
                  - object
                  - data
                properties:
                  object:
                    type: string
                    enum:
                      - list
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserMemory'
                    description: An array containing the actual response elements, paginated by any request parameters.
                  has_more:
                    type: boolean
                    description: >-
                      Whether or not there are more elements available after this set. If false, this set
                      comprises the end of the list.
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            const users = await client.memory.user.list();

            console.log(users.data);
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            users = client.memory.user.list()
            print(users.data)
    post:
      summary: Create User Memory
      operationId: Memory.createUserMemory
      description: Create a user memory
      tags:
        - Memory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserMemoryRequest'
      responses:
        '201':
          description: Successfully created user memory
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserMemory'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            const userMemory = await client.memory.user.create({ agent_id: 'agent_id', memory: 'memory' });

            console.log(userMemory.id);
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            user_memory = client.memory.user.create(
                agent_id="agent_id",
                memory="memory",
            )
            print(user_memory.id)
  /user-memories/{user_memory_id}:
    delete:
      summary: Delete User Memory
      operationId: Memory.deleteUserMemory
      description: Delete a user memory
      tags:
        - Memory
      parameters:
        - name: user_memory_id
          description: The ID of the user memory to delete.
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Successfully deleted user memory
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            await client.memory.user.delete('user_memory_id');
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            client.memory.user.delete(
                "user_memory_id",
            )
  /organization/users:
    get:
      summary: List users
      operationId: Users.listOrganizationUsers
      description: Retrieve a list of users in the specified organization.
      tags:
        - Users
      parameters:
        - name: search
          in: query
          schema:
            type: string
          required: false
          description: Search term to filter users by name or email
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/after'
        - $ref: '#/components/parameters/before'
      responses:
        '200':
          description: List of users in the organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOrganizationUsers'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            // Automatically fetches more pages as needed.
            for await (const organizationUser of client.organization.users.list()) {
              console.log(organizationUser.id);
            }
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            page = client.organization.users.list()
            page = page.data[0]
            print(page.id)
  /organization/users/{user_id}:
    get:
      summary: Retrieve user
      operationId: Users.getOrganizationUser
      description: Retrieve details of a specific user in the organization.
      tags:
        - Users
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the user
      responses:
        '200':
          description: User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationUser'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            const organizationUser = await client.organization.users.retrieve('user_id');

            console.log(organizationUser.id);
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            organization_user = client.organization.users.retrieve(
                "user_id",
            )
            print(organization_user.id)
    patch:
      summary: Update user
      operationId: Users.updateOrganizationUser
      description: Update user permissions in the organization.
      tags:
        - Users
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrganizationUser'
      responses:
        '200':
          description: User updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationUser'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            const organizationUser = await client.organization.users.update('user_id', { role: 'admin' });

            console.log(organizationUser.id);
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            organization_user = client.organization.users.update(
                user_id="user_id",
                role="admin",
            )
            print(organization_user.id)
  /beta/rewrite:
    post:
      summary: Rewrite text using AI
      operationId: Beta.Rewrite.rewriteText
      description: Rewrite text using AI with context-aware rewriting capabilities.
      tags:
        - Beta
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RewriteRequest'
      responses:
        '200':
          description: Successfully rewritten text
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewriteResponse'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            const rewriteResponse = await client.beta.rewrite.rewriteText({
              full_text: 'full_text',
              prompt: 'prompt',
              text_to_rewrite: 'text_to_rewrite',
            });

            console.log(rewriteResponse.rewritten_text);
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            rewrite_response = client.beta.rewrite.rewrite_text(
                full_text="full_text",
                prompt="prompt",
                text_to_rewrite="text_to_rewrite",
            )
            print(rewrite_response.rewritten_text)
  /search:
    get:
      summary: Search
      description: '[BETA] Search across knowledge.'
      operationId: search
      tags:
        - Search
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/next'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResult'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            // Automatically fetches more pages as needed.
            for await (const searchResultItem of client.search.search({ query: 'query' })) {
              console.log(searchResultItem.content);
            }
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            page = client.search.search(
                query="query",
            )
            page = page.data[0]
            print(page.content)
  /secrets:
    post:
      summary: Create secret
      operationId: Secrets.createSecret
      description: Create a new secret that can be referenced in converse API calls.
      tags:
        - Secrets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - value
              properties:
                name:
                  type: string
                  description: The name of the secret
                  maxLength: 300
                value:
                  type: string
                  description: The secret value to store
      responses:
        '201':
          description: Successfully created secret
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            const secret = await client.secrets.create({ name: 'name', value: 'value' });

            console.log(secret.id);
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            secret = client.secrets.create(
                name="name",
                value="value",
            )
            print(secret.id)
    get:
      summary: List secrets
      operationId: Secrets.listSecrets
      description: Returns the list of user-created secrets.
      tags:
        - Secrets
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/after'
        - $ref: '#/components/parameters/before'
      responses:
        '200':
          description: List of secrets
          content:
            application/json:
              schema:
                type: object
                required:
                  - object
                  - data
                properties:
                  object:
                    type: string
                    enum:
                      - list
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Secret'
                    description: An array containing the actual response elements.
                  has_more:
                    type: boolean
                    description: >-
                      Whether or not there are more elements available after this set. If false, this set
                      comprises the end of the list.
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            // Automatically fetches more pages as needed.
            for await (const secret of client.secrets.list()) {
              console.log(secret.id);
            }
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            page = client.secrets.list()
            page = page.data[0]
            print(page.id)
  /secrets/{secret_id}:
    get:
      summary: Retrieve secret
      operationId: Secrets.retrieveSecret
      description: Retrieve a specific secret by ID.
      tags:
        - Secrets
      parameters:
        - name: secret_id
          in: path
          required: true
          schema:
            type: string
          description: The id of the secret to retrieve.
      responses:
        '200':
          description: Successfully retrieved secret
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            const secret = await client.secrets.retrieve('secret_id');

            console.log(secret.id);
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            secret = client.secrets.retrieve(
                "secret_id",
            )
            print(secret.id)
    delete:
      summary: Delete secret
      operationId: Secrets.deleteSecret
      description: Delete a secret.
      tags:
        - Secrets
      parameters:
        - name: secret_id
          in: path
          required: true
          schema:
            type: string
          description: The id of the secret to delete.
      responses:
        '200':
          description: Successfully deleted secret
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            await client.secrets.delete('secret_id');
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            client.secrets.delete(
                "secret_id",
            )
  /organization/teamspaces/{teamspace_id}/invites:
    get:
      summary: List teamspace invites
      operationId: Invite.listTeamspaceInvites
      description: List all pending invites for a teamspace.
      tags:
        - Teamspace Invites
      parameters:
        - name: teamspace_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the teamspace
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/after'
        - $ref: '#/components/parameters/before'
      responses:
        '200':
          description: List of invites for the teamspace
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTeamspaceInvites'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            // Automatically fetches more pages as needed.
            for await (const teamspaceInvite of client.organization.teamspaces.invites.list('teamspace_id')) {
              console.log(teamspaceInvite.id);
            }
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            page = client.organization.teamspaces.invites.list(
                teamspace_id="teamspace_id",
            )
            page = page.data[0]
            print(page.id)
    post:
      summary: Invite user to a teamspace
      operationId: Invite.inviteUserToTeamspace
      description: >-
        Invite a user to join the teamspace. This will send an invitation email. If the user already exists,
        the invite will be automatically accepted.
      tags:
        - Teamspace Invites
      parameters:
        - name: teamspace_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the teamspace
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteUserToTeamspaceRequest'
      responses:
        '201':
          description: User invited successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamspaceInvite'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            const teamspaceInvite = await client.organization.teamspaces.invites.create('teamspace_id', {
              email: 'dev@stainless.com',
            });

            console.log(teamspaceInvite.id);
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            teamspace_invite = client.organization.teamspaces.invites.create(
                teamspace_id="teamspace_id",
                email="dev@stainless.com",
            )
            print(teamspace_invite.id)
  /organization/teamspaces/{teamspace_id}/invites/{invite_id}:
    get:
      summary: Retrieve teamspace invite
      operationId: Invite.getTeamspaceInvite
      description: Get a pending invite for in a teamspace.
      tags:
        - Teamspace Invites
      parameters:
        - name: teamspace_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the teamspace
        - name: invite_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the invite
      responses:
        '200':
          description: Invite for the user in the teamspace
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamspaceInvite'
      x-codeSamples:
        - lang: JavaScript
          source: >-
            import Datagrid from 'datagrid-ai';


            const client = new Datagrid({
              apiKey: 'My API Key',
            });


            const teamspaceInvite = await client.organization.teamspaces.invites.retrieve('teamspace_id',
            'invite_id');


            console.log(teamspaceInvite.id);
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            teamspace_invite = client.organization.teamspaces.invites.retrieve(
                invite_id="invite_id",
                teamspace_id="teamspace_id",
            )
            print(teamspace_invite.id)
    delete:
      summary: Delete teamspace invite
      operationId: Invite.deleteTeamspaceInvite
      description: Delete a pending invite for a user in a teamspace.
      tags:
        - Teamspace Invites
      parameters:
        - name: teamspace_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the teamspace
        - name: invite_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the invite
      responses:
        '204':
          description: Invite deleted successfully
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            await client.organization.teamspaces.invites.delete('teamspace_id', 'invite_id');
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            client.organization.teamspaces.invites.delete(
                invite_id="invite_id",
                teamspace_id="teamspace_id",
            )
  /organization/teamspaces/{teamspace_id}/users:
    get:
      summary: List teamspace users
      operationId: Users.listTeamspaceUsers
      description: Retrieve a list of users in the specified teamspace.
      tags:
        - Teamspace Users
      parameters:
        - name: teamspace_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the teamspace
        - name: search
          in: query
          schema:
            type: string
          required: false
          description: Search term to filter users by name or email
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/after'
        - $ref: '#/components/parameters/before'
      responses:
        '200':
          description: List of users in the teamspace
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTeamspaceUsers'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            // Automatically fetches more pages as needed.
            for await (const teamspaceUser of client.organization.teamspaces.users.list('teamspace_id')) {
              console.log(teamspaceUser.id);
            }
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            page = client.organization.teamspaces.users.list(
                teamspace_id="teamspace_id",
            )
            page = page.data[0]
            print(page.id)
  /organization/teamspaces/{teamspace_id}/users/{user_id}:
    get:
      summary: Retrieve teamspace user
      operationId: Users.getTeamspaceUser
      description: Retrieve details of a specific user in the teamspace.
      tags:
        - Teamspace Users
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the user
        - name: teamspace_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the teamspace
      responses:
        '200':
          description: User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamspaceUser'
      x-codeSamples:
        - lang: JavaScript
          source: >-
            import Datagrid from 'datagrid-ai';


            const client = new Datagrid({
              apiKey: 'My API Key',
            });


            const teamspaceUser = await client.organization.teamspaces.users.retrieve('teamspace_id',
            'user_id');


            console.log(teamspaceUser.id);
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            teamspace_user = client.organization.teamspaces.users.retrieve(
                user_id="user_id",
                teamspace_id="teamspace_id",
            )
            print(teamspace_user.id)
    delete:
      summary: Delete teamspace user
      operationId: Users.revokeTeamspacePermissions
      description: Revoke a user's permissions from the teamspace.
      tags:
        - Teamspace Users
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the user
        - name: teamspace_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the teamspace
      responses:
        '204':
          description: User revoked successfully
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            await client.organization.teamspaces.users.delete('teamspace_id', 'user_id');
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            client.organization.teamspaces.users.delete(
                user_id="user_id",
                teamspace_id="teamspace_id",
            )
    patch:
      summary: Update teamspace user
      operationId: Users.updateTeamspaceUser
      description: Update user permissions in the teamspace.
      tags:
        - Teamspace Users
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the user
        - name: teamspace_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the teamspace
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTeamspaceUser'
      responses:
        '200':
          description: User updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamspaceUser'
      x-codeSamples:
        - lang: JavaScript
          source: >-
            import Datagrid from 'datagrid-ai';


            const client = new Datagrid({
              apiKey: 'My API Key',
            });


            const teamspaceUser = await client.organization.teamspaces.users.update('teamspace_id', 'user_id',
            {
              role: 'admin',
            });


            console.log(teamspaceUser.id);
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            teamspace_user = client.organization.teamspaces.users.update(
                user_id="user_id",
                teamspace_id="teamspace_id",
                role="admin",
            )
            print(teamspace_user.id)
  /organization/teamspaces/{teamspace_id}:
    get:
      summary: Retrieve teamspace
      operationId: Teamspaces.retrieveTeamspace
      description: Retrieve a specific teamspace by ID.
      tags:
        - Teamspaces
      parameters:
        - name: teamspace_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the teamspace to retrieve.
      responses:
        '200':
          description: Successfully retrieved teamspace
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Teamspace'
        '404':
          description: Teamspace not found
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            const teamspace = await client.organization.teamspaces.retrieve('teamspace_id');

            console.log(teamspace.id);
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            teamspace = client.organization.teamspaces.retrieve(
                "teamspace_id",
            )
            print(teamspace.id)
    patch:
      summary: Update teamspace
      operationId: Teamspaces.updateTeamspace
      description: Update the name and/or access settings of a teamspace.
      tags:
        - Teamspaces
      parameters:
        - name: teamspace_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the teamspace to update.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The new name of the teamspace
                  maxLength: 300
                access:
                  type: string
                  enum:
                    - open
                    - closed
                  description: >
                    Open teamspaces allow all organization members to join without admin approval. Access for
                    users who join this way is limited to conversations with agents in this teamspace. 


                    Closed teamspaces require admin approval to join.
      responses:
        '200':
          description: Successfully updated teamspace
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Teamspace'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            const teamspace = await client.organization.teamspaces.patch('teamspace_id');

            console.log(teamspace.id);
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            teamspace = client.organization.teamspaces.patch(
                teamspace_id="teamspace_id",
            )
            print(teamspace.id)
  /organization/teamspaces:
    post:
      summary: Create teamspace
      operationId: Teamspaces.createTeamspace
      description: Create a new teamspace within your organization.
      tags:
        - Teamspaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - access
              properties:
                name:
                  type: string
                  description: The name of the teamspace
                  maxLength: 300
                access:
                  type: string
                  enum:
                    - open
                    - closed
                  description: >
                    Open teamspaces allow all organization members to join without admin approval. Access for
                    users who join this way is limited to conversations with agents in this teamspace. 


                    Closed teamspaces require admin approval to join.
      responses:
        '201':
          description: Successfully created teamspace
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Teamspace'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            const teamspace = await client.organization.teamspaces.create({ access: 'open', name: 'name' });

            console.log(teamspace.id);
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            teamspace = client.organization.teamspaces.create(
                access="open",
                name="name",
            )
            print(teamspace.id)
    get:
      summary: List teamspaces
      operationId: Teamspaces.listTeamspaces
      description: Returns the list of teamspaces within your organization.
      tags:
        - Teamspaces
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/after'
        - $ref: '#/components/parameters/before'
      responses:
        '200':
          description: List of teamspaces
          content:
            application/json:
              schema:
                type: object
                required:
                  - object
                  - data
                properties:
                  object:
                    type: string
                    enum:
                      - list
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Teamspace'
                    description: An array containing the actual response elements.
                  has_more:
                    type: boolean
                    description: >-
                      Whether or not there are more elements available after this set. If false, this set
                      comprises the end of the list.
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            // Automatically fetches more pages as needed.
            for await (const teamspace of client.organization.teamspaces.list()) {
              console.log(teamspace.id);
            }
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            page = client.organization.teamspaces.list()
            page = page.data[0]
            print(page.id)
  /tools:
    get:
      summary: List tools
      operationId: Tools.listTools
      description: Returns the list of available tools that can be used by agents.
      tags:
        - Tools
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/after'
        - $ref: '#/components/parameters/before'
      responses:
        '200':
          description: List of tools
          content:
            application/json:
              schema:
                type: object
                required:
                  - object
                  - data
                properties:
                  object:
                    type: string
                    enum:
                      - list
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ToolDef'
                    description: An array containing the available tools.
                  has_more:
                    type: boolean
                    description: >-
                      Whether or not there are more elements available after this set. If false, this set
                      comprises the end of the list.
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            // Automatically fetches more pages as needed.
            for await (const toolDef of client.tools.list()) {
              console.log(toolDef.description);
            }
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            page = client.tools.list()
            page = page.data[0]
            print(page.description)
  /tools/{tool_name}:
    get:
      summary: Retrieve tool
      operationId: Tools.retrieveTool
      description: Retrieves a specific tool by its identifier.
      tags:
        - Tools
      parameters:
        - name: tool_name
          in: path
          required: true
          schema:
            oneOf:
              - $ref: '#/components/schemas/ToolName'
              - type: string
          description: The name of the tool to retrieve.
      responses:
        '200':
          description: Retrieved tool
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolDef'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Datagrid from 'datagrid-ai';

            const client = new Datagrid({
              apiKey: 'My API Key',
            });

            const toolDef = await client.tools.retrieve('data_analysis');

            console.log(toolDef.description);
        - lang: Python
          source: |-
            from datagrid_ai import Datagrid

            client = Datagrid(
                api_key="My API Key",
            )
            tool_def = client.tools.retrieve(
                "data_analysis",
            )
            print(tool_def.description)
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
  schemas:
    RedirectURLResponse:
      type: object
      description: The `redirect_url` object represents a redirect url for a connection.
      required:
        - object
        - redirect_url
      properties:
        object:
          type: string
          enum:
            - redirect_url
        redirect_url:
          type: string
          description: The redirect url for a connection.
    Agent:
      allOf:
        - type: object
          required:
            - object
            - id
            - name
            - description
            - created_at
            - agent_model
            - llm_model
            - knowledge_ids
            - tools
            - system_prompt
            - custom_prompt
            - planning_prompt
          properties:
            object:
              type: string
              enum:
                - agent
              description: The object type, always 'agent'
            id:
              type: string
              description: Unique identifier for the agent
            name:
              type: string
              description: The name of the agent
            description:
              type: string
              description: The description of the agent
              nullable: true
            created_at:
              type: string
              format: date-time
              description: The ISO string for when the agent was created
              nullable: false
        - $ref: '#/components/schemas/AgentConfig'
    AgentConfig:
      type: object
      properties:
        agent_model:
          $ref: '#/components/schemas/AgentModel'
          nullable: false
        llm_model:
          $ref: '#/components/schemas/LlmModel'
          nullable: false
        knowledge_ids:
          type: array
          nullable: true
          description: >-
            Array of Knowledge IDs the agent should use during the converse. When ommited, all knowledge is
            used.
          items:
            type: string
        tools:
          type: array
          items:
            $ref: '#/components/schemas/Tool'
          description: Tools that this agent can use.
          nullable: false
        system_prompt:
          type: string
          description: Directs your AI Agent's operational behavior.
          nullable: true
        custom_prompt:
          type: string
          description: Use custom prompt to instruct the style and formatting of the agent's response
          nullable: true
        planning_prompt:
          type: string
          description: >-
            Define the planning strategy your AI Agent should use when breaking down tasks and solving
            problems
          nullable: true
    InputAgentConfig:
      allOf:
        - $ref: '#/components/schemas/AgentConfig'
        - type: object
          properties:
            tools:
              $ref: '#/components/schemas/AgentTools'
              nullable: true
            disabled_tools:
              $ref: '#/components/schemas/AgentTools'
              description: >-
                Array of the agent tools to disable. Disabling is performed after the 'agent_tools' rules are
                applied. For example, agent_tools: null and disabled_tools: [data_analysis] will enable
                everything but the data_analysis tool. If nothing or [] is provided, nothing is disabled and
                therefore only the agent_tools setting is relevant.
              nullable: true
            llm_model:
              $ref: '#/components/schemas/LlmModel'
              nullable: true
            agent_model:
              $ref: '#/components/schemas/AgentModel'
              nullable: true
    CreateAgentRequest:
      allOf:
        - $ref: '#/components/schemas/InputAgentConfig'
        - type: object
          properties:
            name:
              type: string
              description: The name of the agent
              maxLength: 255
              nullable: true
            description:
              type: string
              description: The description of the agent
              maxLength: 1000
              nullable: true
    AgentListResponse:
      type: object
      required:
        - object
        - data
        - has_more
      properties:
        object:
          type: string
          enum:
            - list
          description: The object type, always 'list'
        data:
          type: array
          items:
            $ref: '#/components/schemas/Agent'
          description: Array of agent objects
        has_more:
          type: boolean
          description: Whether there are more results available
    UpdateAgentRequest:
      allOf:
        - $ref: '#/components/schemas/InputAgentConfig'
        - type: object
          properties:
            name:
              type: string
              description: The name of the agent
              maxLength: 255
              nullable: true
            description:
              type: string
              description: The description of the agent
              maxLength: 1000
              nullable: true
    AgentTools:
      description: >
        Array of the agent tools to enable. If not provided - default tools of the agent are used. If empty
        list provided - none of the tools are used. If null provided - all tools are used. When connection_id
        is set for a tool, it will use that specific connection instead of the default one.


        Knowledge management tools:

        - data_analysis: Answer statistical or analytical questions like "Show my quarterly revenue growth"

        - semantic_search: Search knowledge through natural language queries.

        - agent_memory: Agents can remember experiences, conversations and user preferences.

        - schema_info: Helps the Agent understand column names and dataset purpose. Avoid disabling

        - table_info: Allow the AI Agent to get information about datasets and schemas

        - create_dataset: Agents respond with data tables


        Actions:

        - calendar: Allow the Agent to access and make changes to your Google Calendar

        - schedule_recurring_message_tool: Eliminate busywork such as: "Send a summary of today's meetings at
        5pm on workdays"


        Data processing tools:

        - data_classification: Agents handle queries like "Label these emails as high, medium, or low
        priority"

        - data_extraction: Helps the agent understand data from other tools. Avoid disabling

        - image_detection: Extract information from images using AI

        - pdf_extraction: Extraction of information from PDFs using AI


        Enhanced response tools:

        - connect_data: Agents provide buttons to import data in response to queries like "Connect Hubspot"

        - download_data: Agents handle queries like "download the table as CSV"


        Web tools:

        - web_search: Agents search the internet, and provide links to their sources

        - fetch_url: Fetch URL content

        - company_prospect_researcher: Agents provide information about companies

        - people_prospect_researcher: Agents provide information about people
      type: array
      nullable: true
      items:
        oneOf:
          - $ref: '#/components/schemas/ToolName'
          - $ref: '#/components/schemas/Tool'
    AgentModel:
      oneOf:
        - $ref: '#/components/schemas/AgentModelEnum'
        - type: string
      type: string
      enum:
        - magpie-1.1
        - magpie-1.1-flash
        - magpie-2.0
        - magpie-1
      default: magpie-1.1
      description: >
        The version of Datagrid's agent brain. 

        - magpie-1.1 is the default and most powerful model. 

        - magpie-1.1-flash is a faster model useful for RAG usecases, it currently only supports
        semantic_search tool. Structured outputs are not supported with this model.

        - Can also accept any custom string value for future model versions.

        - Magpie-2.0 our latest agentic model with more proactive planning and reasoning capabilities.
      nullable: true
    AgentModelEnum:
      type: string
      enum:
        - magpie-1.1
        - magpie-1.1-flash
        - magpie-1
        - magpie-2.0
      description: Predefined agent model versions
    Tool:
      type: object
      required:
        - name
      properties:
        name:
          $ref: '#/components/schemas/ToolName'
        connection_id:
          type: string
          description: The ID of the connection to use for the tool.
          nullable: true
    LlmModel:
      oneOf:
        - $ref: '#/components/schemas/LlmModelEnum'
        - type: string
      default: gemini-2.5-flash
      description: The LLM used to generate responses.
    LlmModelEnum:
      type: string
      description: The LLM used to generate responses.
      enum:
        - gemini-2.5-pro
        - gemini-2.5-pro-preview-05-06
        - gemini-2.5-flash
        - gemini-2.5-flash-preview-04-17
        - gemini-2.5-flash-lite
        - gpt-5
        - gemini-2.0-flash-001
        - gemini-2.0-flash
        - gemini-1.5-pro-001
        - gemini-1.5-pro-002
        - gemini-1.5-flash-002
        - gemini-1.5-flash-001
        - chatgpt-4o-latest
        - gpt-4o
        - gpt-4
        - gpt-4-turbo
        - gpt-4o-mini
    Connection:
      type: object
      description: >-
        The `connection` object represents an authenticated connection to a third-party service (like Google
        Drive, Hubspot, Dropbox, etc.) that can be managed through the API.
      required:
        - object
        - id
        - name
        - teamspace_id
        - connector_id
        - created_at
        - updated_at
      properties:
        object:
          type: string
          enum:
            - connection
          description: The object type, which is always `connection`.
        id:
          type: string
          description: The connection identifier, which can be referenced in the API endpoints.
        name:
          type: string
          description: The name of the connection.
        teamspace_id:
          type: string
          description: The teamspace ID that owns this connection.
        connector_id:
          type: string
          description: The connector ID of the third-party service this connection authenticates with.
        valid:
          type: boolean
          description: Whether the connection authentication is valid.
        value:
          type: string
          description: The authentication value of the connection.
        created_at:
          type: string
          format: date-time
          description: The ISO string for when the connection was created.
        updated_at:
          type: string
          format: date-time
          description: The ISO string for when the connection was last updated.
    Connector:
      type: object
      description: >-
        The `connector` object represents an available connector that can be used to connect to a third-party
        service.
      required:
        - object
        - id
        - name
      properties:
        object:
          type: string
          description: The object type, which is always `connector`.
          enum:
            - connector
        id:
          type: string
          description: The unique identifier for the connector.
        name:
          type: string
          description: The display name of the connector.
    Conversation:
      type: object
      description: The `conversation` object represents a conversation with an AI agent.
      required:
        - object
        - id
        - created_at
        - updated_at
      properties:
        object:
          type: string
          enum:
            - conversation
          description: The object type, which is always `conversation`.
        id:
          type: string
          description: The conversation identifier, which can be referenced in the API endpoints.
        name:
          type: string
          description: The name of the conversation.
        created_at:
          type: string
          format: date-time
          description: The ISO string for when the conversation was created.
        updated_at:
          type: string
          format: date-time
          description: The ISO string for when the conversation was last updated.
    ConversationMessage:
      type: object
      description: The `conversation.message` object represents a message in a conversation.
      required:
        - object
        - id
        - agent_id
        - role
        - content
        - created_at
        - conversation_id
        - credits
        - citations
      properties:
        object:
          type: string
          enum:
            - conversation.message
          description: The object type, which is always `conversation.message`.
        id:
          type: string
          description: The message identifier.
        agent_id:
          type: string
          description: The ID of the agent that sent or responded to the message.
        role:
          type: string
          enum:
            - user
            - agent
          description: The role of the message sender - either 'user' or 'agent'.
        content:
          type: array
          description: Contents of the message.
          items:
            type: object
            required:
              - type
              - text
            properties:
              type:
                type: string
                enum:
                  - text
                x-stainless-const: true
              text:
                type: string
        created_at:
          type: string
          format: date-time
          description: The ISO string for when the message was created.
        conversation_id:
          type: string
          description: The ID of the conversation the message belongs to.
        credits:
          $ref: '#/components/schemas/ConverseCredits'
          nullable: true
        citations:
          $ref: '#/components/schemas/Citations'
          nullable: true
    CreateConversationRequest:
      type: object
      description: Request body for creating a new conversation.
      properties:
        name:
          type: string
          description: Name for the conversation.
          nullable: true
    ConverseRequestBody:
      type: object
      required:
        - prompt
      properties:
        prompt:
          oneOf:
            - type: string
              title: Text prompt
              description: A text prompt to send to the agent.
            - type: array
              title: Input item list
              description: |
                A list of one or many input items to the agent, containing
                different content types.
              items:
                $ref: '#/components/schemas/InputItem'
        config:
          description: Override the agent config for this converse call. This is applied as a partial override.
          nullable: true
          allOf:
            - $ref: '#/components/schemas/InputAgentConfig'
            - type: object
              properties:
                agent_tools:
                  description: Deprecated, use tools instead
                  deprecated: true
                  $ref: '#/components/schemas/AgentTools'
                disabled_agent_tools:
                  description: Deprecated, use disabled_tools instead. If not provided - no tools are disabled.
                  deprecated: true
                  $ref: '#/components/schemas/AgentTools'
                  nullable: true
        agent_id:
          type: string
          description: The ID of the agent that should be used for the converse.
          nullable: true
        conversation_id:
          type: string
          description: >-
[...]
